.searchWrapper > div:nth-child(1) {
    height: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.searchWrapper > div:nth-child(2){
    height: 3%;
}
.searchWrapper > div:nth-child(3) {
    height: 70%;
}


.searchList {
    width: 100%;
    min-height: 2vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.searchListHd {
    padding-left: 0.5em;
}

.summary {
    border: 1px solid #454545;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 0.5vh;
    min-height: 5vh;
    padding: 0.5em;
    border-radius: 7px;
    background-color: #07151C;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}
.summary > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.summaryHeader > div:nth-child(1){
    font-size: 1.3rem;
    font-weight: 500;
    color: #E2E2E2;
}
.summaryHeader > div:nth-child(2){
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    color: #739C85;
}
.summaryFooter {
    color: #C6B9B1;
}
.summaryFooter > div:nth-child(1){
    width: 88%;
    margin-right: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}
.summaryFooter > div:nth-child(2){
    width: 9%;
    color: #4f4f4f;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-end;
    font-size: 0.8rem;
}
.durationMin{
    color: #919064;
    font-weight: 500;
}
.summaryDetail{
    flex-direction: column!important;
    margin-top: 0.5vw;
}
.summaryDetail > div {
    width: 100%;
    text-align: center;
}
.summaryDetail > div:nth-child(2){
    font-size: 0.8rem;
    border: 1px solid #6b6b6b;
    border-radius: 1em;
    margin-top: 0.4vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

.diningColor{
    color: #9C7673!important;
}
.barColor {
    color: #5f6aa9!important;
}
.accommodationColor{
    color: #d9900ac7!important;
}

/*searchFilter*/
.searchFilter{
    border: 1px solid #454545;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 0.5vh;
    min-height: 5vh;
    padding: 0.5em;
    border-radius: 7px;
    background-color: #07151C;
}

.searchFilter > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.5vh;
}
.searchFilter > div:not(div:nth-child(5)) > div{
    width: 100%;
}

.searchFilter > div:nth-child(5){
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
}
.searchFilter > div:nth-child(5) > div{
    width: 49%;
}
.searchFilter > div:nth-child(5) > div:nth-child(1){
    margin-right: 2%;
}

.searchBtn {
    padding-top: 2px;
    padding-bottom: 1px;
    border: 1px solid #454545;
    text-align: center;
    border-radius: 3px;
}

.dualSelect{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.dualSelect > select {
    width: 49%;
}