<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.t_web.program.comn.dao.ComnDao">

    <insert id="insertMapData">
        INSERT INTO MAP_DATA
        (ID, NAME, PX, PY, ADDRESS, MCID, MCID_NAME, AVAILABLE)
        VALUES(
               #{bookmarkId}
            ,   #{name}
            ,   #{px}
            ,   #{py}
            ,   #{address}
            ,   #{mcid}
            ,   #{mcidName}
            ,   #{available}
        )
    </insert>

    <select id="selectMapDataCount" resultType="int">
        SELECT  COUNT(*)
        FROM    MAP_DATA
        WHERE   ID = #{bookmarkId}
    </select>

    <select id="selectMapDataList" resultType="com.demo.t_web.program.comn.model.MapData">
        SELECT  *
        FROM    MAP_DATA
        WHERE   PX BETWEEN #{minLng} AND #{maxLng}
            AND PY BETWEEN #{minLat} AND #{maxLat}
            <if test="mcid != null and mcid != ''">
            AND MCID = #{mcid}
            </if>
            <if test="addr1 != null and addr1 != ''">
            AND ADDR_1 = #{addr1}
            </if>
            <if test="addr2 != null and addr2 != ''">
            AND ADDR_2 = #{addr2}
            </if>
            <if test="placeName != null and placeName instanceof java.util.ArrayList">
                <foreach collection="placeName" item="item" separator="OR" open="AND (" close=")">
                    NAME LIKE CONCAT('%', #{item}, '%')
                </foreach>
            </if>
    </select>

    <select id="selectMcidList" resultType="Tmap">
        SELECT  MCID
            ,   MCID_NAME
        FROM    MAP_DATA
        WHERE   PX BETWEEN #{minLng} AND #{maxLng}
          AND PY BETWEEN #{minLat} AND #{maxLat}
        GROUP BY MCID, MCID_NAME
        ORDER BY MCID_NAME DESC
    </select>

    <select id="getRegion1" resultType="Tmap">
        SELECT  ADDR_1
        FROM    MAP_DATA
        WHERE   ADDR_1 != ''
        GROUP BY ADDR_1
        ORDER BY ADDR_1
    </select>

    <select id="getRegion2" resultType="Tmap">
        SELECT  ADDR_2
        FROM    MAP_DATA
        WHERE   ADDR_2 != ''
            AND ADDR_1 = #{addr1}
        GROUP BY ADDR_2
        ORDER BY ADDR_2
    </select>

    <select id="getRegionMapData" resultType="com.demo.t_web.program.comn.model.MapData">
        SELECT  *
        FROM    MAP_DATA
        <where>
            <if test="addr1 != null and addr1 != ''">
                ADDR_1 = #{addr1}
            </if>
            <if test="addr2 != null and addr2 != ''">
                AND ADDR_2 = #{addr2}
            </if>
        </where>
    </select>
</mapper>